<div class="container">
    <div class="row justify-content-center" style="margin-top:100px; margin-bottom: 100px;">
        <div class="col-5">
            <form class="for" action="/admin/category/add" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Kategoriya nomi</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" name="categoryName" id="categoryName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Fon rangi</span>
                    <input type="text" class="form-control" placeholder="Inglizcha rang" aria-label="Username"
                        aria-describedby="basic-addon1" name="background" id="background">
                </div>
                {{!-- <div class="form-group ">
                    <span class="input-group-text" id="basic-addon1">Rangni tanlang</span>
            <select class="form-control" name="background" id="background" >               
                <option style="background: white;" >white</option>
                <option style="background: red;" >read</option>
                <option style="background: green;" >green</option>
                <option style="background: yellow;">yellow</option>
                <option style="background: blue;" >blue</option>
                <option style="background: magenta;" >magenta</option>
                <option style="background: gray;" >gray</option>
            </select>
        </div> --}}
                <button type="submit" class="btn btn-warning">Jo`natish</button>
            </form>
        </div>
    </div>
</div>