<div class="container">
    <h1>Footer uchun Qo'shish bo'limi</h1>
    <div class="row">
        <form action="/admin/footerInfo/add" method="POST">
            <div class="manbaa" style="display: flex;justify-content: space-evenly;">
                <div class="manbaa-flex">
                    <br>
                    <label for="">Instagram</label>
                    <input id="link1" name="link1" type="text" />
                    <br><br>
                    <label for="">Telegram</label>
                    <input id="link2" name="link2" type="text" />
                    <br><br>
                    <label for="">Change  </label>
                    <input id="link3" name="link3" type="text" />
                    <br>
                    <br /><br />
            <div class="cub">
                <button class="btn btn-primary" type="submit">Send</button>
            <br/>
            <br/>
            </div>
                </div>
            </div>
        </form>
    </div>
</div>