<h1>Admin page</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="list-group">
                <a href="/admin/category/add"><button type="button" class="list-group-item list-group-item-action">Kategoriya qo`shish</button></a>
                <a href="/admin/category/read"><button type="button" class="list-group-item list-group-item-action">Kategoriyalarni ko`rish</button></a>
                <a href="/admin/product/add"><button type="button" class="list-group-item list-group-item-action">Teglar qo`shish</button></a>
                <a href="/admin/product/read"><button type="button" class="list-group-item list-group-item-action">Teglarni ko`rish</button></a>
                <a href="/admin/create/view"><button type="button" class="list-group-item list-group-item-action">Logo </button></a>
                {{!-- <a href="/admin/create/read"><button type="button" class="list-group-item list-group-item-action">Logo ko'rish</button></a> --}}
                <a href="/admin/footerInfo/add"><button type="button" class="list-group-item list-group-item-action">Footer </button></a>
                {{!-- <a href="/admin/footerInfo/view"><button type="button" class="list-group-item list-group-item-action">Footer ko'rish</button></a> --}}
            </div>
        </div>
    </div>
</div>

