<div class="product_form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <form action="/admin/tel/add" method="POST">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="tel">Telefone qo'shish</label>
                            <input type="number" class="form-control" name="tel" id="tel">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Yaratish</button>
                        {{!-- <a href="/admin/product/read" class="btn btn-primary">Yaratish</a> --}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>