<div class="tag">
  <div class="tag-info">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <div class="tag_view">
            <div class="tag-info-text">
              <span>Teg nomi:</span>
            <h2 class="tag-head">{{productName}}</h2>
            <hr>
            <span style="margin-top: 30px; display: block;">Teg haqida ma'lumot:</span>
            <p class="tag-text">{{productText}}</p>
          </div>
            <hr>
          <div class="tag-syntax">
            <h3 class="syntax">Sintaksis</h3>
            <p class="syntax-text">{{productSyntax}}</p>
          </div>
          {{#if productImg}}
          <div class="infotag">
            <h3 class="infotag-info"></h3>
            <img src="/images/{{productImg}} " alt="jpg">
          </div>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>