{{#each category}}
<div class="section-html" style="background: {{background}} !important;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="html-info">
                    <h1 class="html-head">{{categoryName}}</h1>
                    <p class="html-text">The language for building web pages</p>
                    <a href="/view/{{id}}" class="html-btn">Learn {{categoryName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}